body {
    background: #FBFCFE;
}

.header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    font-size: 2em;
    margin-right: 10px;
    font-weight: 700;
}

.chamberList {
    display: flex;
    flex-wrap: wrap;

}


.searchBar {
    display: flex;
    align-items: center;
    background: #F1F2F4;
    padding: 0 10px;
    height: 40px;
}

.searchBar > img {
    cursor: pointer;
    margin-right: 10px;
}

.hiddenInput {
    border: none;
    outline: none;
    color: #707070;
    background: transparent;
    font-weight: 300;
}

@media only screen and (max-width: 483px) {
    .chamberList {
        justify-content: center;
    }
}@media only screen and (max-width: 433px) {
    .header {
        justify-content: flex-start;
    }
    .title{
        margin-bottom: 20px;
    }
}